<h1>Order Total for <%= current_user.name %></h1>

<ul>
  <% @order.order_items.each do |order_item| %>
  <br>
  <li>Order Item ID: <%= order_item.id %> </li>
  <li>Order Item Created At: <%= order_item.created_at %> </li>
  <li>Order Item Updated At: <%= order_item.updated_at %> </li>
  <li>Order Item Status: <%= order_item.fulfilled? == true ? "fulfilled" : "not fulfilled"  %> </li>
  <li>Item Name: <%= order_item.item.name %> </li>
  <li>Item Description: <%= order_item.item.description %> </li>
  <li>Item Image: <%= order_item.item.thumbnail %> </li>
  <li>Item Quantity: <%= order_item.quantity %> </li>
  <li>Item Price: $<%= order_item.price %> </li>
  <li>Item Subtotal: $<%= order_item.subtotal %> </li>

  <% end %>
  <br>
  <li>Total Item Quantity: <%= @quantity_of_order %> </li>
  <li>Order Grand Total: $<%= @grand_total %> </li>
  <li>Order Status: <%= @order.status %> </li>
</ul>
<% if @order.status == "pending" %>
  <%= button_to "Cancel Order", profile_order_path(@order.id), method: :delete %>
<% end %>
