<h1>Welcome, <%= current_user.name %>!</h1>

<p>Email: <%= current_user.email %></p>
<p>Address: <%= current_user.address %></p>
<p>City: <%= current_user.city %></p>
<p>State: <%= current_user.state %></p>
<p>Zip: <%= current_user.zip %></p>

<%= link_to "Edit Profile", profile_edit_path %>

<% if current_user.orders %>
<section class='orders'>
  <p>Your Orders</p>
  <% current_user.orders.each do |order| %>
    <div id="order-<%= order.id %>" class="order">
      <%= link_to "View Order ##{order.id}", profile_order_path(order) %>
      <p>Created at: <%= order.created_at %></p>
      <p>Updated at: <%= order.updated_at %></p>
      <p>Status: <%= order.status %></p>
      <p>Item Count: <%= order.quantity_of_order %></p>
      <p>Grand Total: <%= order.grand_total %></p>
    </div>
  <% end %>
</section>
<% end %>

<%= flash[:success] %>
<%= flash[:log_error] %>
