<h1>
    All da merchants 
</h1> 

<% @merchants.each do |merchant| %>
<table id="merchant-<%=merchant.id%>">
    <thead>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
    </thead>

    <tbody>
        <td> <%= link_to merchant.name, admin_merchant_path(merchant) %></td>
        <td><%= merchant.city %></td>
        <td><%= merchant.state %></td>
        <% if merchant.enabled? %>
            <td><%= button_to 'disable', admin_toggle_path, params:{user_id:merchant.id} %></td>
        <% else %>
            <td><%= button_to 'enable', admin_toggle_path, params:{user_id:merchant.id} %></td>
        <% end %>
    </tbody>

</table>

<% end %>
(required for spec/views/admin/merchants/index.html.erb)