<h1><%= current_user.name %> Items</h1>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Thumbnail</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Enable/Disable</th>
        <th>Edit</th>
    </thead>

    <tbody>
        <% @items.each do |item| %>
            <tr id=<%="item-#{item.id}"%>>
                <td><%= item.id%></td>
                <td><%= item.name%></td>
                <td><%= image_tag(item.thumbnail, id:("#{item.thumbnail}")) %></td>
                <td><%= item.price%></td>
                <td><%= item.inventory%></td>
                <% if item.enabled? %>
                    <td><%= button_to "Disable", toggle_item_path(item) %></td>
                <% else %>
                    <td><%= button_to "Enable", toggle_item_path(item) %></td>
                <% end %>
                <td><%= link_to 'edit', edit_item_path(item) %></td>
                <% unless item.ordered? %>
                    <td><%= button_to 'delete', item_path(item), method: :delete %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'add new item', new_item_path %>
