<section class='stats'>
  <article id="revenue-stats" class="stats-info">
    <p class="stats-title">Top Sellers</p>
    <% @top_sellers.each_with_index do |m, index| %>
      <p id="revenue-stat-<%= index %>">Merchant: <%= m.name %></p>
    <% end %>
  </article>

  <article id="fast-order-stats" class="stats-info">
    <p class="stats-title">Fastest Merchants</p>
    <% @fast_merchants.each_with_index do |m, index| %>
      <p id="fast-order-stat-<%= index %>">Merchant: <%= m.name %></p>
    <% end %>
  </article>

  <article id="slow-order-stats" class="stats-info">
    <p class="stats-title">Slowest Merchants</p>
    <% @slow_merchants.each_with_index do |m, index| %>
      <p id="slow-order-stat-<%= index %>">Merchant: <%= m.name %></p>
    <% end %>
  </article>

  <article id="top-states" class="stats-info">
    <p class="stats-title">Top states for orders</p>
    <% @top_states.each do |s| %>
      <p>State: <%= s.state %> </p>
      <p>Order Count: <%= s.order_count %></p>
    <% end %>
  </article>

  <article id="top-cities" class="stats-info">
    <p class="stats-title">Top cities for orders</p>
    <% @top_cities.each do |c| %>
      <p>City: <%= c.city %>, <%= c.state %> </p>
      <p>Order Count: <%= c.order_count %></p>
    <% end %>
  </article>

  <% if @top_orders %>
    <article id="biggest-orders" class="stats-info">
      <p class="stats-title">Top orders by item quantity</p>
      <p>Largest Order: <%= @top_orders[0].total_quantity %></p>
      <% if @top_orders[1] %>
      <p>Second Largest Order: <%= @top_orders[1].total_quantity %></p>
      <% end %>
      <% if @top_orders[2] %>
      <p>Third Largest Order: <%= @top_orders[2].total_quantity %></p>
      <% end %>
    </article>
  <% end %>
</section>


<section class='merchants'>
  <table class="table table-bordered table-striped table-dark">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Created On</th>
    </thead>

    <tbody>
      <% @merchants.each do |m| %>
        <% if m.enabled %>
            <tr>
              <% if current_user && current_user.role == 'admin' %>
                <td><%= link_to m.name, admin_merchant_path(m) %></td>
              <% else %>
                <td><%= m.name %></td>
              <% end %>
              <td><%= m.city %></td>
              <td><%= m.state %></td>
              <td><%= m.created_at.to_date %></td>
              <% if current_user && current_user.role == 'admin' %>
                <% if m.enabled? %>
                  <td><%= button_to 'disable', admin_toggle_path(user_id:m.id) %></td>
                <% else %>
                  <td><%= button_to 'enable', admin_toggle_path(user_id:m.id) %></td>
                <% end %>
              <% end %>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>     
</section>


