<p>Top Sellers</p>
<% @top_sellers.each do |ts| %>
  <div class="revenue-stat">
    <p>Merchant: <%= ts.name %></p>
  </div>
<% end %>

<% @merchants.each do |m| %>
  <% if m.enabled %>
    <div class='merchant' id="merchant-#{m.id}">
      <%= m.name %>
      <%= m.city %>
      <%= m.state %>
      <%= m.created_at %>
    </div>
  <% end %>
<% end %>
