<h1>Welcome, merchant <%= @merchant.name %>!</h1>

<table>
    <thead>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
    </thead>

    <tbody>
        <td><%= current_user.email %></td>
        <td><%= current_user.address %></td>
        <td><%= current_user.city %></td>
        <td><%= current_user.state %></td>
        <td><%= current_user.zip %></td>
    </tbody>
</table>


<div id="top-5-items">
    <h1>Top 5 Items</h1>
    <ul>
        <% @top_5.each do |item| %>
        <li><%= item.name %></li>
        <% end %>
    </ul>
</div>

<div id="pending-orders">
  <h1>Pending Orders</h1>
  <ul>
    <% @pending_orders.each do |order| %>
    <li> <%= link_to "Order ID: #{order.id}", "/dashboard/orders/#{order.id}" %> </li>
    <li> Date Ordered: <%= order.created_at %></li>
    <li> Quantity of My Items in Order: <%= order.quantity_of_my_items %></li>
    <li> Total Value of Items: $<%= order.value_of_my_items %></li>
    <% end %>
  </ul>

</div>

<%= link_to "View My Items", '/dashboard/items' %>
