<section class="merchant-info">
  <h1>Welcome, merchant <%= @merchant.name %>!</h1>
  <div>
    <table class="table table-bordered table-striped table-dark">
      <thead>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip</th>
      </thead>

      <tbody>
          <td><%= current_user.email %></td>
          <td><%= current_user.address %></td>
          <td><%= current_user.city %></td>
          <td><%= current_user.state %></td>
          <td><%= current_user.zip %></td>
      </tbody>
    </table>
  </div>

  <div id="top-5-items">
    <h1>Top 5 Items</h1>
    <ul>
      <% @top_5.each do |item| %>
      <li><%= item.name %></li>
      <% end %>
    </ul>
  </div>


  <%= link_to "View My Items", '/dashboard/items' %>
</section>
