<h1>Your Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty!</p>
<% else %>

<table>
  <th>Name</th>
  <th>Quantity</th>
    <% @cart_items.each_with_index do |cart_item, index| %>
      <tr>
        <td class="cart_item_<%= index %>"><%= cart_item.name %></td>
        <td class="quantity_<%= index %>"><%= cart_item.quantity %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% unless @cart_items.empty? %>
  <%= link_to "Empty Cart", cart_items_path, method: :delete %>
<% end %>
