<h1>Your Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty!</p>
<% else %>

<table>
  <th>    </th>
  <th>Name</th>
  <th>Quantity</th>
    <% if !current_user %>
      <p>You must register or be logged in to checkout</p>
    <% end %>
    <% @cart_items.each_with_index do |cart_item, index| %>
      <tr>
        <td><%= button_to "Remove", cart_item_path(cart_item.id), id: "rem-cart-item-#{index}", method: :delete %></td>
        <td class="cart_item_<%= index %>"><%= cart_item.name %></td>
        <td class="quantity_<%= index %>"><%= cart_item.quantity %></td>
        <td><%= button_to "+", cart_item_path(cart_item.id, add: true), id: "plus-cart-item-#{index}", method: :patch %></td>
        <td><%= button_to "-", cart_item_path(cart_item.id, add: false), id: "minus-cart-item-#{index}", method: :patch %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% unless @cart_items.empty? %>
  <%= link_to "Empty Cart", cart_items_path, method: :delete %>
<% end %>
