
<div class="item_form-container">
  <h1>Make an Item!</h1>
  <%= form_for @item do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control", placeholder: "Enter description" %>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <%= f.label :thumbnail %>
        <%= f.text_field :thumbnail, class: "form-control", placeholder: "Enter thumbnail name" %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :price %>
        <%= f.number_field :price, class: "form-control", placeholder: "Enter price" %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :inventory %>
        <%= f.number_field :inventory, class: "form-control", placeholder: "Enter inventory amount" %>
      </div>
     </div> 
    <div class="form-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>