<div class="statistics">
  <section class="pop_container">
    <article class="pop_items">
      <h3>Most Popular Items: </h3>
      <ul>
        <% @items.popular_items(:top, 5).each do |item| %>
          <li class="most_popular"><%= link_to item.name, item_path(item) %></li>
        <% end %>
      </ul>
    </article>
    <artcile class="pop_items">
      <h3>Least Popular Items: </h3>
      <ul>
        <% @items.popular_items(:bottom, 5).each do |item| %>
          <li class="least_popular"><%= link_to item.name, item_path(item) %></li>
        <% end %>
      </ul>
    </artcile>
  </section>
</div>


<section class="card_container">
  <% @items.each do |i| %>
    <% if i.enabled %>
      <div class="card item" id="item-<%= i.id %>">
        <% begin %>
          <%= link_to image_tag(i.thumbnail), item_path(i), id: "item-image-#{i.id}" %>
        <% rescue %>
          <%= image_tag "no_img.jpg", id: "item-image-#{i.id}" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to i.name, item_path(i) %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Owner: <%= i.user.name %></li>
          <li class="list-group-item">$<%= i.price %></li>
          <li class="list-group-item">Inventory: <%= i.inventory %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</section>


