<p>Name: <%= @item.name %></p>
<p>Description: <%= @item.description %></p>
<%= @item.thumbnail %>
<p>Username: <%= @item.user.name %></p>
<p>Inventory:<%= @item.inventory %></p>
<p>Price: <%= @item.price %></p>
<p>Average Fulfillment Time: <%= OrderItem.avg_fulfillment_time(@item) %></p>
<% unless current_user && current_user.role == "merchant" ||
          current_user && current_user.role == "admin"%>
  <%= button_to "Add to Cart", cart_items_path(item_id: @item.id) %>
<% end %>
