<div class="card show" id="item-<%= @item.id %>">
  <div class="card-body">
    <h5 class="card-title"><p>Name: <%= @item.name %></p></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p>Description: <%= @item.description %></p></li>
      <li class="list-group-item"><p>Username: <%= @item.user.name %></p></li>
      <li class="list-group-item"><p>Inventory:<%= @item.inventory %></p></li>
      <li class="list-group-item"><p>Price: <%= @item.price %></p></li>
      <li class="list-group-item"><p>Average Fulfillment Time: <%= @average_fulfillment_time %></p></li>
    </ul>
    <% begin %>
      <%= link_to image_tag("#{@item.thumbnail}.jpg", id: "#{@item.thumbnail}", class: "card-img-bottom"), item_path(@item), id: "item-image-#{@item.id}" %>
    <% rescue %>
      <%= link_to image_tag("no_img.jpg", id: "#{@item.thumbnail}", class: "card-img-bottom"), item_path(@item), id: "item-image-#{@item.id}" %>
    <% end %>

    <% unless current_user && current_user.role == "admin" ||
              current_user && current_user.role == "merchant" %>
      <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn btn-primary btn-show" %>
    <% end %>
  </div>
</div>