<div class="vw-80 mt-5">
  <table class="table table-bordered table-striped table-dark">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Date Registered</th>
      <th scope="col">Enable/Disable</th>
    </thead>
    <% @default_users.each do |user| %>
      <tbody id="user-<%=user.id%>">
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.created_at.to_date%></td>
        <% if user.enabled? %>
          <td><%= button_to "Disable", admin_toggle_user_path({user_id: user.id}) %></td>
        <% else %>
          <td><%= button_to "Enable", admin_toggle_user_path({user_id: user.id}) %></td>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
