<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>
<p>Edit Profile</p>

<% if @user.orders %>
<section class='orders'>
  <p><%= @user.name %>'s Orders</p>
  <% @user.orders.each do |order| %>
    <div id="order-<%= order.id %>" class="order">
      <%= link_to "View Order ##{order.id}", profile_order_path(order) %>
      <p>Created at: <%= order.created_at %></p>
      <p>Updated at: <%= order.updated_at %></p>
      <p>Status: <%= order.status %></p>
      <p>Item Count: <%= order.quantity_of_order %></p>
      <p>Grand Total: <%= order.grand_total %></p>
      <% if o.status == 'pending' %>
      <td><%= button_to "Cancel", admin_order_path(o, user_id: @user.id), method: :delete %></td>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>
