<h1><%= @user.name %></h1>
<p>Date Registered: <%= @user.created_at.to_date %></p>
<p>Enable/Disable: </p>
<% if @user.enabled? %>
    <td><%= button_to "Enable", admin_toggle_user_path({user_id: @user.id}) %></td>
<% else %>
    <td><%= button_to "Disable", admin_toggle_user_path({user_id: @user.id}) %></td>
<% end %>
<%= button_to "Upgrade User", admin_toggle_role_path(id: @user.id) %>

<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>
<%= link_to "Edit Profile", edit_admin_user_path(@user) %>

<% if @user.orders %>
<section class='orders'>
  <p><%= @user.name %>'s Orders</p>
  <% @user.orders.each do |order| %>
    <div id="order-<%= order.id %>" class="order">
      <%= link_to "View Order ##{order.id}", profile_order_path(order) %>
      <p>Created at: <%= order.created_at %></p>
      <p>Updated at: <%= order.updated_at %></p>
      <p>Status: <%= order.status %></p>
      <p>Item Count: <%= order.quantity_of_order %></p>
      <p>Grand Total: <%= order.grand_total %></p>
      <% if order.status == 'pending' %>
      <td><%= button_to "Cancel", admin_order_path(order, user_id: @user.id), method: :delete %></td>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>
