<% if flash[:success] || flash[:disable] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
    <%= flash[:disable] %>
  </div>
<% end %>
<% if flash[:error] ||  flash[:log_error] ||  flash[:email_error]%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
    <%= flash[:log_error] %>
    <%= flash[:email_error] %>
  </div>
<% end %>
