<nav>
  <%= link_to "home", root_path  %>
  <%= link_to "browse items", items_path  %>
  <%= link_to "browse merchants", merchants_path  %>
  <%= link_to "shopping cart", '/cart'  %>
  <%= link_to "login", '/login'  %>
  <%= link_to "Sign Up", '/register'  %>
</nav>
