
<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "LSOH", root_path, :class => "navbar-brand"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, :class => "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Browse Items", items_path, :class => "nav-link" %>
      </li>


      <% if current_user && current_user.role == 'merchant' %>
        <li class="nav-item">
          <%= link_to 'Dashboard', dashboard_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse Merchants", merchants_path, :class => "nav-link"  %>
        </li>
      <% end %>

      <% if current_user && current_user.role == "admin"  %>
        <li class="nav-item">
          <%= link_to 'Users', admin_users_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse Merchants as Admin", admin_merchants_path, :class => "nav-link"  %>
        </li>
      <% else current_user && current_user.role == "admin" %>
        <li class="nav-item">
          <%= link_to "Shopping Cart (#{ @cart.items.count })", cart_path, :class => "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse Merchants as Admin", admin_merchants_path, :class => "nav-link"  %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, :class => "nav-link", method: :delete %> </li>
        <li class='nav-item'> <%= "Logged in as #{current_user.name}" %> </li>
        <li class="nav-item">
          <%= link_to "Browse Merchants", merchants_path, :class => "nav-link"  %></li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, :class => "nav-link" %> </li>
        <li class="nav-item">
          <%= link_to "Register", register_path, :class => "nav-link"  %> </li>
        <li class="nav-item">
          <%= link_to "Browse Merchants", merchants_path, :class => "nav-link"  %></li>
      <% end %>
      <% if (current_user && current_user.role == "default") || (current_user && current_user.role == 'admin' ) %>
        <li class="nav-item">
          <%= link_to 'Profile', profile_path, :class => "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Orders', profile_orders_path, :class => "nav-link" %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, :class => "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, :class => "nav-link" %> </li>
        <li class="nav-item">
          <%= link_to "Register", register_path, :class => "nav-link"  %> </li>
      <% end %>
    </ul>
    <% if current_user %>
      <p class="nav_message"><%= "Logged in as #{current_user.name}" %></p>
    <% end %>
  </div>
</nav>
